<div>
    <div class="header">
        <h1>Lista de Productos</h1>
    </div>
    <div class="table-container">
        <table class="resposive">
            <tr>
                <th>No.</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td>001</td>
                <td>Tomates</td>
                <td>30</td>
                <td>RD$50.00</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Platanos</td>
                <td>25</td>
                <td>RD$320.00</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Guineos Maduros</td>
                <td>100</td>
                <td>RD$30.00</td>
            </tr>
        </table>
    </div>
</template>